// Colors
$light: #ffffff;
$dark: #1c1c1c;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: #0d6efd;
$indigo: #6610f2;
$pink: #d63384;
$danger: #dc3545;
$orange: #fd7e14;
$warning: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary-100: #cfe2ff;
$primary-200: #9ec5fe;
$primary-300: #6ea8fe;
$primary-400: #3d8bfd;
$primary-500: #0d6efd;
$primary-600: #0a58ca;
$primary-700: #084298;
$primary-800: #052c65;
$primary-900: #031633;

$white-100: #ffffff;
$white-200: #f1f1f1;
$white-300: #f2f2f2;
$white-400: #f3f3f3;
$white-500: #f7f7f7;
$white-600: #cccccc;
$white-700: #999999;
$white-800: #666666;
$white-900: #333333;

$dark-100: #d2d2d2;
$dark-200: #a4a4a4;
$dark-300: #777777;
$dark-400: #494949;
$dark-500: #1c1c1c;
$dark-600: #161616;
$dark-700: #111111;
$dark-800: #0b0b0b;
$dark-900: #060606;

$danger-100: #f8d7da;
$danger-200: #f1aeb5;
$danger-300: #ea868f;
$danger-400: #e35d6a;
$danger-500: #dc3545;
$danger-600: #b02a37;
$danger-700: #842029;
$danger-800: #58151c;
$danger-900: #2c0b0e;

$indigo-100: #e0cffc;
$indigo-200: #c29ffa;
$indigo-300: #a370f7;
$indigo-400: #8540f5;
$indigo-500: #6610f2;
$indigo-600: #520dc2;
$indigo-700: #3d0a91;
$indigo-800: #290661;
$indigo-900: #140330;

$pink-100: #f7d6e6;
$pink-200: #efadce;
$pink-300: #e685b5;
$pink-400: #de5c9d;
$pink-500: #d63384;
$pink-600: #ab296a;
$pink-700: #801f4f;
$pink-800: #561435;
$pink-900: #2b0a1a;

$orange-100: #ffe5d0;
$orange-200: #fecba1;
$orange-300: #feb272;
$orange-400: #fd9843;
$orange-500: #fd7e14;
$orange-600: #ca6510;
$orange-700: #984c0c;
$orange-800: #653208;
$orange-900: #331904;

$warning-100: #fff3cd;
$warning-200: #ffe69c;
$warning-300: #ffda6a;
$warning-400: #ffcd39;
$warning-500: #ffc107;
$warning-600: #cc9a06;
$warning-700: #997404;
$warning-800: #664d03;
$warning-900: #332701;

$green-100: #d1e7dd;
$green-200: #a3cfbb;
$green-300: #75b798;
$green-400: #479f76;
$green-500: #198754;
$green-600: #146c43;
$green-700: #0f5132;
$green-800: #0a3622;
$green-900: #051b11;

$teal-100: #d2f4ea;
$teal-200: #a6e9d5;
$teal-300: #79dfc1;
$teal-400: #4dd4ac;
$teal-500: #20c997;
$teal-600: #1aa179;
$teal-700: #13795b;
$teal-800: #0d503c;
$teal-900: #06281e;

$cyan-100: #cff4fc;
$cyan-200: #9eeaf9;
$cyan-300: #6edff6;
$cyan-400: #3dd5f3;
$cyan-500: #0dcaf0;
$cyan-600: #0aa2c0;
$cyan-700: #087990;
$cyan-800: #055160;
$cyan-900: #032830;

$delay: 0.3s;
